<table border="1">
  <tr>
      <th>Телефон</th>
        </tr>
          <% @Documents.each do |document| %>
            <tr>
               <td><%= document.source %></td>
                 <% end %>
                  </tr>
                  </table>