		<hr>
		<!– footer –>
		<div id="footer" class="span-24 last">
		    <div id="descript" class="span-10" first>
				<h6 class="alt">
				    ОАО "Ростелеком", Дальний Восток, 2012г.
				</h6>
		    </div>

		</div>
