
<div id="header" class="span-24 last">
    <div class="span-14" left">
	<h1>Электронный архив</h1>
    </div>
		    <div id="logo" class="span-10 right last">
		    
		    	<% logo = image_tag("/logo-rostelecom.png", :width => "236", :height => "61", :alt => "ОАО Ростелеком, Дальний Восток") %>
		    	<%= link_to logo, 'http://www.rt.ru' %>
			
				
		    </div>
		</div>
